.contentWrapper{
  font-family: Roboto, sans-serif;
  font-size: 13pt !important;

}
.dataTableFormat{
  background-color:red !important;
}
.teste{
  width: 100%;
  height: 100vh;
  background-color: red;
}

.ContentAuth{
  background-image: url("./assets/img/theme/macon33.jpg");
            background-size: cover;

  // style ={{ backgroundImage:`url(${img})`, width:"100%", height:"100hv" }}
  // import img from "assets/img/theme/macon33.jpg"

}

